<section class="account-blocks account-blocks--full">
  <div class="account-blocks__bg">
    {% render 'image-component' with
      image: 'reset-password-bg.jpg',
      asset: true,
      sizes: '100vw',
      classes: 'accounts-blocks__bg objFit'
    %}
  </div>
  <div class="account-blocks__block">
    {% render 'customer-reset-password-form' %}
  </div>
</section>
